<main>
  <section class="my-4">
    <div class="container">
        <h2> Minimum Wade</h2>
    </div>
  </section>
  
  <section>
    <div class="container">
      <form method="post">
        <div class="form-group">
          <input type="text" id="minimumWageBase" name="minimumWageBase"
            class="form-control" placeholder="Minimum Wage" [(ngModel)]="currentMinimum.minimumWageBase" required/>
        </div>

        <button type="submit" class="btn btn-primary" [routerLink]="['']"
          [disabled]="currentMinimum.invalid" (click)="addMinimumWade()">Salvar</button>
      </form>
    </div>
  </section>
</main>

